/* jejuro project button */
/* .btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;

    font-size: 24px;
    background-color: #ff9900;
    transition: background-color .3s;
    color: #fff;

    border: none;
    border-radius: 0 15px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

}
.btn:hover:hover{
    background-color: #ff990090;
    transform: scale(1.02);

} */







/* 수업 실습 */

.btn{
    padding: .4em .8em;
    background-color: #000;
    color: #fff;

    line-height: 1.8em;
    display: inline-flex;
    align-items: center;
    transition: background-color .5s;
}
.btn-default{
    border-radius: 20px;
    border: #ff9900 1px solid;
}
.btn-default-fill{
    background-color: #ff9900;
    color: #fff;
}
.btn-default-line{
    background-color: #fff;
    color: #000;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: orange;
}

input:focus + .slider {
    box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}






/* 메뉴 리스트 출력 실습 */
.menu{
    padding: 20px 0px;

    border-bottom: 1px solid #ff9900;
}
.menu:last-child{
    border: none;
}

.menu form{
    display: grid;
    grid-template: 
    "img title title" 24px
    "img price option" 24px
    "img button button" 32px /80px 80px 1fr;

}

.menu form>h1{
    grid-area: title;
    margin-left: 10px;

    font-size: 15px;
}

.menu-img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    object-fit: cover;

}
.menu-img-box{
    grid-area: img;
}
.menu-price{
    grid-area: price;
    margin-left: 10px;
}


.menu-option-list{
    grid-area: option;
    justify-self: flex-end;
}

.menu-button-list{
    grid-area: button;
    justify-self: flex-end;
    
}

.menu-option{
    display: inline-flex;
    align-items: center;
    width: 60px;
    height: 12px;

    grid-area: option;
}

.menu-option-on{
    background-color: #a24f17;
}

.menu-option .menu-option-input{
    margin-right: 5px;
}



/* ========================== */
@media (min-width: 768px){
    /* 한 줄에 3개씩 고정간격을 설정 */
    .menu-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
    }
    /* 일정 크기까지만 줄어든다 */
    .menu{
        flex-shrink: 0;
        padding: 0 0 10px 0;
        width: 200px;
        border: 1px solid #ff9900;
    }
    .menu:last-child{
        border: 1px solid #ff9900;
    }
    .menu form{
        display: grid;
        grid-template: 
        "img img" 130px
        "title price" 30px
        "option option" 32px
        "button button" 40px /1fr 80px;
    }
    .menu-img{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        object-fit: cover;
    }
    .menu-option-list{
        justify-self: center;

        display: flex;
        align-items: center;
    }
    .menu-button-list{
        justify-self: center;

        display: flex;
        align-items: center;
    }
    .menu form>h1{
        justify-self: flex-start;
        align-self: center;
    }
    .menu-price{
        justify-self: flex-end;
        align-self: center;
        margin-right: 10px;

    }
}

