.btn{
    padding: .4em .8em;
    background-color: #000;
    color: #fff;

    line-height: 1.8em;
    display: inline-flex;
    align-items: center;
    transition: background-color .5s;
}
.btn-default{
    border-radius: 20px;
    border: #ff9900 1px solid;
}
.btn-default-fill{
    background-color: #ff9900;
    color: #fff;
}
.btn-default-line{
    background-color: #fff;
    color: #000;
}













/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: orange;
}

input:focus + .slider {
    box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* .btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;

    font-size: 24px;
    background-color: #ff9900;
    transition: background-color .3s;
    color: #fff;

    border: none;
    border-radius: 0 15px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

}
.btn:hover:hover{
    background-color: #ff990090;
    transform: scale(1.02);

} */


.menu form{
    display: grid;
    grid-template: 
    "img title title" 24px
    "img price option" 24px
    "img button button" 32px /80px 60px 1fr;
}

.menu form>h1{
    grid-area: title;
    margin-left: 10px;

    font-size: 15px;
}

.menu-img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    object-fit: cover;

    grid-area: img;
}

.menu-price{
    grid-area: price;
}


.menu-option-list{
    grid-area: option;
    justify-self: flex-end;
}

.menu-button-list{
    grid-area: button;
    justify-self: flex-end;
    
}

.menu-option{
    width: 12px;
    height: 12px;
    border: 1px solid #a24f17;

    grid-area: option;
}

.menu-option-on{
    background-color: #a24f17;
}

.menu-option{
    display: inline-flex;
    align-items: center;
}

.menu-option .menu-option-input{
    margin-right: 5px;
}


