.deco{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.deco::before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    /* background: url(/image/search-black.svg) no-repeat center/contain; */

    background-color: orange;
    -webkit-mask-size: 32px 32px;
}
.deco:hover{
    background-color: orange;
    color: white;

    border-radius: 16px;

    transition: .5s;
    transform: scale(1.05);
}
.deco:hover::before{
    background-color: white;

    transition: .5s;
}

.deco-note::before{
    background: url(/image/notice.svg) no-repeat center/contain;
    /* -webkit-mask-image: url(/image/notice.svg); */
}

.deco-dashboard::before{
    background: url(/image/graph.svg) no-repeat center/contain;
}
.deco-user-manage{
    display: inline-flex;
    justify-content: center;
    align-items: center;   
}
.deco-user-manage::before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 5px;
    background: url(/image/user-manage.svg) no-repeat center/contain;
}
.deco-notice-manage{
    display: inline-flex;
    justify-content: center;
    align-items: center;   
}
.deco-notice-manage::before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 5px;
    background: url(/image/inventory.svg) no-repeat center/contain;
}
.deco-alarm-manage{
    display: inline-flex;
    justify-content: center;
    align-items: center;   
}
.deco-alarm-manage::before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 5px;
    background: url(/image/alarm-manage.svg) no-repeat center/contain;
}
.deco-info{
    display: inline-flex;
    justify-content: center;
    align-items: center;   
}
.deco-info::before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 5px;
    background: url(/image/info.svg) no-repeat center/contain;
}
